@import url('https://fonts.googleapis.com/css?family=Orbitron');

html{
  background-image: url('bg.jpg');
  background-position: center center;
  background-size: cover;
}

.main{
  text-align: center;
  position: relative;
  top: 125;
}

.calculator{
  display: inline-block;
  border: 10px solid #2a1313;
  background-color: #2a1313;
  border-radius: 5px;
  box-shadow: 0px 0px 50px;
}

.screen{
  border: 2px solid #434343;
  display: inline-block;
  background-color: #434343;
  width: 93%;
  height: 80px;
  margin-top: 20px;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  line-height: 75px;
  color: white;
}
.number{
  display: inline-block;
  border: 2px solid #434343;
  padding: 20px 30px;
  margin-bottom: 3px;
}

.number:hover{
  background-color: #2197ff;
  border: 2px solid #2197ff;
}

.operation{
  background-color: #434343;
  display: inline-block;
  border: 2px solid #434343;
  padding: 20px 30px;
  transition: 0.4s
}

.operation:hover{
  background-color: #c78a19;
  border: 2px solid #c78a19;
}

.option{
  display: inline-block;
  border: 2px solid #434343;
  padding: 20 35;
  margin-bottom: 17px;
  margin-top: 1px;
}

.row1,.row2,.row3,.lastrow{
  text-align: center;
}

.operations{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.button{
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  width: 15px;
  height: 25px;
  color: white;
  transition: 0.4s;
  background-color: #434343;
}

/*.button:hover{
  box-shadow: 0px 0px 30px white;
}*/

.equals{
  width: 89px;
}

.backspace:hover,.clear:hover{
  background-color: #ff2020;
  border: 2px solid #ff2020;
}

.clear{
  width: 5px;
  margin-bottom: 0px;
}

.equals:hover{
  background-color: #2197ff;
  border: 2px solid #2197ff;
}
